<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sk.berops.android.vehiculum"
          android:installLocation="auto"
          android:versionCode="6"
          android:versionName="Flying Spur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Backup is limited to 25 MB of data per app! -->
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name="sk.berops.android.vehiculum.Vehiculum">
        
        <activity
            android:name="sk.berops.android.vehiculum.gui.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.bureaucratic.ActivityBureaucraticAdd"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.bureaucratic.ActivityBureaucraticEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.common.pictures.CameraHandler"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.donation.DonationActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.garage.ActivityCarAdd"
            android:label="@string/activity_car_add_label"/>
        <activity
            android:name=".gui.garage.ActivityCarEdit"
            android:label="@string/activity_car_edit_label"/>
        <activity
            android:name=".gui.insurance.ActivityInsuranceAdd"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.insurance.ActivityInsuranceEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.report.ActivityCharts"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.report.ActivityCharts2"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.ActivityEntryChoose"
            android:label="@string/activity_entry_add_label"/>
        <activity
            android:name=".gui.fuelling.ActivityFuellingEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.garage.ActivityGarageManagement"
            android:label="@string/activity_garage_management_label"/>
        <activity
            android:name=".gui.fuelling.ActivityRefuel"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.report.ActivityEntriesShow"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.report.ActivityReportsNavigate"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.maintenance.ActivityMaintenanceAdd"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.maintenance.ActivityMaintenanceEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.maintenance.ActivityPartAdd"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.maintenance.ActivityPartEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.tyres.ActivityTyreAdd"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.tyres.ActivityTyreChange"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.tyres.ActivityTyreChangeEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.tyres.ActivityTyreChangeScheme"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.tyres.ActivityTyreEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.service.ActivityServiceAdd"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.service.ActivityServiceEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.toll.ActivityTollAdd"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.toll.ActivityTollEdit"
            android:label="@string/app_name"/>
        <activity
            android:name=".gui.preferences.PreferenceWithHeaders"
            android:label="@string/app_name"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="16a1ab2f9cb030da7a6355d12d0336c022f256e8" />
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22" />
    

</manifest>